In [10]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
talentdata = pd.read_csv("talent_data.csv")
talentdata

    cgpa  cc     company
0    6.0   1      HiTech
1    6.5   1      HiTech
2    6.7   1      HiTech
3    6.9   1      HiTech
4    6.0   0  AgrataTech
5    6.5   0  AgrataTech
6    6.7   0  AgrataTech
7    6.9   0  AgrataTech
8    7.0   1   AurionPro
9    7.5   1   AurionPro
10   7.7   1   AurionPro
11   7.9   1   AurionPro
12   7.0   0    Nexsales
13   7.5   0    Nexsales
14   7.7   0    Nexsales
15   7.9   0    Nexsales
16   8.0   1     Swabhav
17   8.5   1     Swabhav
18   8.7   1     Swabhav
19   8.9   1     Swabhav
20   8.0   0    CyberInc
21   8.5   0    CyberInc
22   8.7   0    CyberInc
23   8.9   0    CyberInc

In [3]:
X = talentdata.drop(columns=['company'])
y = talentdata.company

In [23]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=.20,
                                                random_state=1)
model = DecisionTreeClassifier()
model.fit(X_train,y_train)
predication = model.predict(X_test)
accuracy_score(predication,y_test)

1.0

In [24]:
result = pd.DataFrame({'predicted':predication,
                       'actual':y_test})
result

   predicted    actual
13  Nexsales  Nexsales
18   Swabhav   Swabhav
3     HiTech    HiTech
14  Nexsales  Nexsales
20  CyberInc  CyberInc

In [26]:
pd.to_pickle(model,'talent_model.bin')